<style>
body {
      background-image: url('background.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    h1{
      text-align: center;
    }
   
    .cont {
  position:relative;
  width: 100%;
}

.cont img {
  width: 100%;
  height: auto;
  opacity: 0.5
}

.text {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  
  
  min-height: 100%;
}
</style>
<body>
<div class="cont">
<%= image_tag 'background.jpg', alt: 'My Logo', style:"width:100%; height: 80%;"%>
<div class="text">
<h1 style="display:flex;justify-content:center;align-items:center;padding-top:100px"> Sign-Up</h1>

<div style="display:flex;justify-content:center;align-items:center;">
<%= form_with model: @user, url: signup_path do |form| %>
<div class="mb-3">
    <%=form.label :name%>
<%=form.text_field :name, class:"form-control", placeholder: "alex" ,style:"width:300px"%>
</div>
<div class="mb-3">
    <%=form.label :email %>
<%=form.text_field :email, class:"form-control", placeholder: "alex@gmail.com",style:"width:300px"%>
</div>
<div class="mb-3">
    <%=form.label :phno %>
<%=form.text_field :phno, class:"form-control", placeholder: "123456789",style:"width:300px"%>
</div>
<div class="mb-3">
    <%=form.label :password %>
<%=form.password_field :password, class:"form-control", placeholder: "password",style:"width:300px"%>
</div>
<div class="mb-3">
    <%=form.submit "Submit", class:"btn btn-primary",style:"width:300px" %>
    </div>
<% end %>
</div>
</div>
</div>
</body>
<!--
the submit form doesnt really kniow what to do there fore when clicked submit,
it refers to the form variable that was created later the form reffers to the 
users model or the path tat is defined. and it calls the create.
 -->