<style>
.navbar {
 position: fixed;
 
  width: 100%;
  background-color: #666666;
  color: black;
  text-align: center;
  padding: 5px;
}
</style>
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
  <%=link_to "Resto",root_path,class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <%=link_to "Home",root_path,class:"nav-link" %>
          
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        
        <% unless params[:controller] == "signup" && params[:action] == "new" %>
        <li class="nav-item">
        
        <%=link_to "sign-up",signup_path,class:"nav-link"%>
        </li>
        <%end%>
        <% unless params[:controller] == "login" && params[:action] == "new" %>
        <li class="nav-item">
        <%=link_to "login",login_path,class:"nav-link"%>
        </li>
        <%end%>
       <% unless params[:controller] == "main" && params[:action] == "index" %>
        <li class="nav-item">
        <%=button_to "logout",root_path,class:"nav-link"%>
        </li>
        <%end%>
       
        </ul>

    </div>
  </div>
</nav>